node_modules
.next
dist
build
out
.env
.env.local
tmp
*.mp4
*.png
!image.png
!apps/web/public/favicon.png
!apps/web/public/icon-256.png
!apps/web/public/icon-512.png
*.jpeg
*.jpg
tsconfig.tsbuildinfo
apps/web/tsconfig.tsbuildinfo
supabase/.temp/
